@use "~/style/atoms/color";

.theme {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  @include color.props(surface-1);
  @include color.bgfg;
}

.group {
  display: flex;
  gap: 0.25rem;

  [data-color] {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    font-weight: 600;

    @for $i from 1 through 6 {
      :nth-child(#{$i}) {
        color: var(--fg-#{$i});
      }
    }
  }

  @for $i from 1 through 4 {
    [data-bg="#{$i}"] {
      @include color.props(surface-#{$i});
      background: var(--bg);
    }
  }

  @for $i from 1 through 4 {
    [data-panel="#{$i}"] {
      @include color.props(panel-#{$i});
      background: var(--bg);
    }
  }

  @for $i from 1 through 4 {
    [data-accent="#{$i}"] {
      @include color.props(accent-#{$i});
      background: var(--bg);
    }
  }
}
