{
  "plugins": [
    "solid"
  ],
  "extends": [
    "@antfu",
    "plugin:solid/typescript"
  ],
  "overrides": [
    {
      "files": [
        "*.stories.@(ts|tsx)"
      ],
      "extends": [
        "plugin:storybook/recommended",
        "plugin:storybook/csf-strict",
        "plugin:storybook/csf"
      ]
    }
  ]
}
