@use "~/style/atoms/time";
@use "~/style/atoms/interactivity";
@use "~/style/atoms/color";
@use "~/style/atoms/shadow";

.menu {
  @include shadow.x1;
  @include color.props("surface-1");
  display: flex;
  flex-direction: column;
  position: fixed;
  background: var(--bg);
  padding: 0.25rem;
  gap: 0.25rem;
  border-radius: 1rem;

  &>* {
    border-radius: 0.75rem;
  }
}
