@use "sass:math";

$h: 290;

@function lerp($a, $b, $t) {
  @return $a + ($b - $a) * $t;
}

@mixin surfaces($bg-l-low, $bg-l-high, $contrast-l) {
  @for $i from 0 to 4 {
    $bg-l: lerp($bg-l-high, $bg-l-low, math.pow(2, -1 * $i));
    $bg-c: 0.0;
    --surface-#{$i+1}: oklch(#{$bg-l * 100%} #{$bg-c} #{$h});

    @for $j from 0 to 6 {
      $fg-l: lerp($bg-l, $contrast-l, math.pow(math.pow(2, -1 * $j), 0.5));
      $fg-c: lerp($bg-c, 0.05, math.pow(math.pow(2, -1 * $j), 0.25));
      --surface-#{$i+1}-#{$j+1}: oklch(#{$fg-l * 100%} #{$fg-c} #{$h});
    }
  }
}

@mixin accent($i, $bg-l-low, $bg-l-high, $contrast-l-low, $contrast-l-high) {
  $bg-a: lerp(0, 1, math.pow(2, -1 * $i));
  $bg-l: lerp($bg-l-high, $bg-l-low, math.pow(2, -1 * $i));
  --accent-#{$i+1}: oklch(#{$bg-l * 100%} 0.3 #{$h} / #{$bg-a});

  @for $j from 0 to 6 {
    $fg-a: lerp(0, 1, math.pow(2, -1 * $j * 0.5));
    $fg-l: lerp($contrast-l-high, $contrast-l-low, math.pow(math.pow(2, -1 * $j), 0.5));
    --accent-#{$i+1}-#{$j+1}: oklch(#{$fg-l * 100%} 0.3 #{$h} / #{math.pow($fg-a, 0.5)});
  }
}

@mixin panels($bg-l-low, $bg-l-high, $contrast-l) {
  @for $i from 0 to 4 {
    $bg-l: lerp($bg-l-high, $bg-l-low, math.pow(2, -1 * $i));
    $bg-c: 0.0;
    // $bg-c: 0.1;
    $bg-c: math.pow(lerp(0.1, 0, math.pow(2, -1 * $i)), 1.5);
    $bg-a: lerp(1, 0.25, math.pow(math.pow(2, -1 * $i), 0.25));
    --panel-#{$i+1}: oklch(#{$bg-l * 100%} #{$bg-c} #{$h} / #{$bg-a});

    @for $j from 0 to 6 {
      $fg-l: lerp($bg-l, $contrast-l, math.pow(math.pow(2, -1 * $j), 0.5));
      $fg-c: lerp($bg-c, 0.05, math.pow(math.pow(2, -1 * $j), 0.25));
      --panel-#{$i+1}-#{$j+1}: oklch(#{$fg-l * 100%} #{$fg-c} #{$h});
    }
  }
}

@mixin theme-light {
  @include surfaces(0.98, 1, 0);
  @include panels(0.9, 0.9, 0);
  @include accent(0, 0.6, 0.4, 1, 1);
  @include accent(1, 0.6, 0.4, 1, 1);
  @include accent(2, 0.6, 0.4, 0, 0.4);
  @include accent(3, 0.6, 0.4, 0, 0.4);
}

@mixin theme-dark {
  @include surfaces(0, 0.3, 1);
  @include panels(0.4, 0.4, 1);
  @include accent(0, 0.64, 0.8, 1, 0.8);
  @include accent(1, 0.64, 0.8, 1, 0.9);
  @include accent(2, 0.64, 0.8, 1, 0.8);
  @include accent(3, 0.64, 0.8, 1, 0.8);
}

.theme-light,
:root {
  @include theme-light;
}

.theme-dark {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}
