@use "~/style/atoms/time";
@use "~/style/atoms/interactivity";
@use "~/style/atoms/color";

.root {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 2rem;
  color: var(--fg-6);
  transition: var(--duration-x4) var(--ease);

  label {
    color: inherit;
    display: flex;
    justify-content: space-between;
    cursor: unset;
    transition: inherit;

    [data-vs] {
      display: none;
    }
  }

  &:hover,
  &:focus-within {
    @include color.props("panel-2");
    @include color.bgfg(3);
    transition: var(--duration) var(--ease-in);
  }

  &[data-unset="false"] {
    color: var(--accent-1);

    label {
      color: var(--accent-2);
      transition: var(--duration-x8) var(--ease);
    }
  }
}

.slider {
  position: relative;
  border-radius: 1rem;
  align-items: stretch;

  input {
    inline-size: calc(100% + 2rem);
    block-size: 100%;
    align-self: stretch;
    position: absolute;
    inset: 0;
    inset-inline: -1rem;
    border-radius: inherit;
  }
}
