@use "~/style/atoms/color";

.root {
  header {
    [data-img] {
      inline-size: 100%;
      aspect-ratio: 1/1;
      background: var(--fg-1);
      border-radius: 2rem;
    }

    h1 {
      // text-align: center;
      margin-inline: 2rem;
      margin-block: 2rem;
    }
  }

  main {
    @include color.props("surface-2");
    background: var(--bg);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin-block-end: 1rem;

    h2 {
      margin: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  button {
    padding-inline: 2rem;
    border-radius: 2rem;
  }
}
