@use "~/style/atoms/time";
@use "~/style/atoms/interactivity";

.root {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    justify-content: space-between;
    color: var(--fg-2);
    // text-align: center;
    // margin-block-end: 1rem;
    // font-size: 1.5rem;


    [data-vs] {
      display: none;
    }
  }

  [data-labels] {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    // margin-block-start: 1rem;
    color: var(--fg-2)
  }

  [data-slider] {
    display: flex;
    align-items: center;
    position: relative;

    // border-radius: 0.25rem;
    // @include interactivity.highlight;
    @include time.transition;
  }

  [data-guide] {
    position: absolute;
    inset-inline: 0;
    block-size: 0.25rem;
    background: currentColor;
  }

  [data-gutter] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset-inline: -0.25rem;

    div {
      inline-size: 0.5rem;
      block-size: 0.5rem;
      border-radius: 50%;
      background: currentColor;
      // transform: scale(calc(1 + 3 * var(--proximity)));
      @include time.transition;
    }
  }

  [data-handle] {
    position: absolute;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    background: var(--fg-1);
    transform: translateX(-50%);
    border-radius: 50%;
    @include time.transition;
  }

  [data-fill] {
    position: absolute;
    block-size: 100%;
    background: currentColor;
    @include time.transition;
    border-radius: inherit;
  }

  input {
    inline-size: 100%;
    block-size: 100%;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 1rem;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background: none;
    }
  }

  &:hover,
  &:focus {
    [data-handle] {
      block-size: 2rem;
      inline-size: 2rem;
    }

    [data-gutter] {
      div {
        transform: scale(calc(1 + 3 * var(--proximity)));
      }
    }
  }
}
