@use "~/style/atoms/time";
@use "~/style/atoms/interactivity";
@use "~/style/atoms/color";

.root {
  position: relative;
  block-size: 2rem;
  display: flex;
  align-items: center;
  inset: 0;

  [data-guide] {
    position: absolute;
    inset-inline: 0;
    block-size: 0.25rem;
    background: currentColor;
  }

  [data-gutter] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset-inline: -0.25rem;

    div {
      inline-size: 0.5rem;
      block-size: 0.5rem;
      border-radius: 50%;
      background: currentColor;
      @include time.transition;
    }
  }

  [data-handle] {
    position: absolute;
    block-size: 1.5rem;
    inline-size: 1.5rem;
    inset-inline-start: calc(var(--t) * 100%);
    background: currentColor;
    transform: translateX(-50%);
    border-radius: 50%;
    @include time.transition;
  }

  [data-fill] {
    position: absolute;
    block-size: 100%;
    background: currentColor;
    @include time.transition;
    border-radius: inherit;
  }

  &[data-active="true"] {
    [data-handle] {
      block-size: 2rem;
      inline-size: 2rem;
    }

    [data-gutter] {
      div {
        transform: scale(calc(1 + 3 * var(--proximity)));
      }
    }
  }
}

.input {
  -webkit-appearance: none;
  appearance: none;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;

    border: none;
    background: none;
  }
}
