#root {
  block-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8rem;
  max-width: 34rem; // 32 + 2
  padding-inline: 2rem;
  padding-block: 8rem;
  margin: auto;
  block-size: 100%;
}
